/* -------------header ------------- */
.header-image{
    display: none;
}
/* -------------main ------------- */
/* index*/
.search-div{ 
    position: absolute;
    background-color: rgba(77, 92, 17, 0.155);
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.search-div .icon{
    background-color: rgba(77, 92, 17, 0.155);
    height: fit-content;
    padding: 5px;
    border-radius: 30px;
}

.search-div  input{
   background: transparent;
   border: none;
   outline: none;
   width: 0px;
   transition: .5s;
}

 .search-div:hover input{ 
    width: 100px;  
}

.menu-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
    
    
}
.section{
    margin-top: 40px;
    width: 300px;
    padding: 1.1em; 
    display: flex;
    flex-direction: column;
    border-radius: 2px 15px;
    box-shadow: 1px 2px 5px #00000011;
    gap: 1.5em;
}
.section h3{
    margin: 0;
    
}
.section img{
    width: 250px;
    border-radius: 1px 10px;
    transition: .3s;
}
.section img:hover{
    transform: scale(1.05);
}
b{
    position: relative;
    float: right;
    top: -18px;
}
.description{
    border-top: 1px solid;  
    font-size: larger;
}
.item-name:hover{
    cursor: pointer;
    transform: scale(105%);
    transition: 0.2s;
    border-radius: 2px 15px;
    box-shadow: 1px 2px 5px #0000002c;
}


/* -------------footer ------------- */