                /* -------------header ------------- */

.header-image{
    display: none;
}
/* -------------main ------------- */
/* index*/
h1{
    
    margin-bottom: 0;
    padding-bottom: 0;
}

main{
    display: flex;
    flex-flow: column nowrap;
    gap: 20px; 
}


.book{
    flex: 1;
    border-radius:2px 15px ;
    box-shadow: 1px 2px 5px #00000011;
    margin: 7px;

    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}
.book .page{
    height:50em ;
    border-radius: 15px ;
    box-shadow: 1px 2px 5px #00000011;
    margin: 7px;
}
.book .page h2{
    font-size: 2rem;
}
.book .page p{
    font-size: 1.1rem;
}
/* -------------footer ------------- */