/* -------------header ------------- */
.header-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
/* -------------main ------------- */
/* index*/
p{
    font-size: larger;
}
section{
    
    display: flex;
    justify-content: center;
    flex-flow: ROW wrap;
    gap: 20px;
}

section article{
    flex: 1;
    border-radius:2px 15px ;
    box-shadow: 1px 2px 5px #00000011;
    margin: 7px;
    display: flex;
    flex-flow:column nowrap ;
    
}
section article h1{
    font-size: 1.5rem;
    align-self: center;
}
section article img{
    align-self: center;
    width: 80vw;
    max-width: 400px;
    border-radius: 10px;
}
section article .atricle-list{
    list-style: none;

}
section article .atricle-list li{
    margin: 20px;
}

/* -------------footer ------------- */